<div class="bg-dark vh-100" style="display: flex; align-items: center; justify-content: center;">
    <form style="color: aliceblue;">
        <h1>¡Te estábamos esperando!</h1><br><br>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="input" class="form-control" id="nametxt">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo</label>
            <input type="email" class="form-control" id="emailtxt">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuario</label>
            <input type="input" class="form-control" id="usertxt">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordtxt">
        </div>
        <div class="mb-5">
            <label for="exampleInputPassword1" class="form-label">Confirmar Password</label>
            <input type="password" class="form-control" id="passwordtxt2">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success me-3">Registrarse</button>
            <a type="button" class="btn btn-danger" href="home">Cancelar</a>
        </div>
    </form>
</div>